<section>
  <form>
    <!-- <input type="text" placeholder="Filter by city" #filter /> -->
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput placeholder="Filter by city" #filter>
    </mat-form-field>
    <button mat-raised-button type="button" (click)="filterResults(filter.value)">
      Search
    </button>
  </form>
</section>
<section>
  <a [routerLink]="['/add']">Add house</a><br>
</section>
<section class="results">
  <app-housing-location *ngFor="let housingLocation of filteredLocationList"
    [housingLocation]="housingLocation"></app-housing-location>
</section>